<html>
    <head>
		{{> scg_head}}
    </head>

    <body>
        <div class="scg_container">
            <div class="scg_header">
				{{> scg_header}}
            </div>
            
            <div class="scg_content_container">
                <div class="scg_content_item">
                    <a href=#">Link</a>
                    <br>
                    <p>This is a <a href=#">Link</a> in a p thingy </p>
                    <br>
                    <h1>Heading 1</h1>
                    <br>
                    <h2>Heading 2</h2>
                    <br>
                    <h3>Heading 3</h3>
                    <br>
                    <h4>Heading 4</h4>
                    <br>
                    <h5>Heading 5</h5>
                    <br>
                    <p>This is some text that should be a good size to read</p>
                </div>
            </div>
            
            <div class="scg_footer">
				{{> scg_footer}}
            </div>
        </div>
    </body>
</html>
