<html>
    <head>
		{{> scg_head}}
    </head>

    <body>
        <div class="scg_container">
            <div class="scg_header">
				{{> scg_header}}
            </div>
            
            <div class="scg_content_container">
                {{> techweenjoy_content}}
            </div>
            
            <div class="scg_footer">
				{{> scg_footer}}
            </div>
        </div>
    </body>
</html>
