<!DOCTYPE html>
<html>
    <script src="https://aframe.io/releases/1.0.0/aframe.min.js"></script>
    <!-- we import arjs version without NFT but with marker + location based support -->
    <script src="https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar.js"></script>
    <script src="//cdn.rawgit.com/donmccurdy/aframe-extras/v6.0.0/dist/aframe-extras.min.js"></script>

    <body style="margin : 0px; overflow: hidden;">
        <a-scene embedded arjs>
            <!--
            <a-marker preset="hiro">
                <a-entity
                position="0 -10 -2"
                rotation="0 -90 90"
                scale="0.005 0.005 0.005"
                gltf-model="{{ url_for('static', filename='ironman_reactor_core/scene.gltf') }}"
                animation-mixer></a-entity>
            </a-marker>
            -->

            <a-assets>
                <a-asset-item id="cube" src="{{root}}assets/phoenix_bird/scene.gltf"></a-asset-item>
            </a-assets>

            <a-marker preset="hiro">
                <a-entity
                position="0 0 0"
                rotation="0 0 0"
                scale="0.005 0.005 0.005"
                gltf-model="#cube"
                animation-mixer></a-entity>
            </a-marker>

            <a-marker type="pattern" url="{{root}}assetstest_marker_1/pattern-marker.patt">
                <a-entity
                position="0 0 0"
                rotation="0 0 0"
                scale="0.005 0.005 0.005"
                gltf-model="#cube"
                animation-mixer></a-entity>
            </a-marker>

            <!--a-light type="ambient" color="white"></a-light-->
            <!--a-light type="point" intensity=".4" position="-2 2 2"></a-light-->

            <a-entity camera></a-entity>
        </a-scene>
    </body>
</html>