<div class="scg_content_item scg_image_box">
    <img src="{{root}}assets/Orange_Paint_3063.png"></img>
    <div class="scg_image_box_heading">
        <h3>Interested In Joining a Team?</h3>
        <p>SKY Consulting Group is always building, training, and deploying specialized teams for new and on-going projects. If you have an interest in one of our verticals, please reach out to us so we can learn more about you!</p>
    </div>
</div>
