<div class="scg_content_item scg_text_page">
    <div class="scg_text_page_text">
        <h1>COVID-19 Business Responses</h1>
        <h2>Employee Safety - The Modern Office</h2>

        <h2>Client Assurance</h2>

        <h2>Financial Relief</h2>
    </div>
</div>
