<div class="scg_content_item scg_text_page">
    <div class="scg_text_page_text">
        <h1>COVID-19 Business Responses</h1>
        <h2>Employee Safety - The Modern Office</h2>
        <p>With increasing concern over workplace exposure, it's important to consider your options for working from home. Leverage online utlities for scrum and task management as well as online mettings to help keep your time effective and efficient while out of the workplace. Some of our favorite tools include: <a href="https://trello.com/en-US" target="_blank">Trello</a>, <a href="https://www.atlassian.com/software/jira" target="_blank">Jira</a>, <a href="https://www.zoom.us/" target="_blank">Zoom</a>, <a href="https://www.skype.com/en/" target="_blank">Skype</a>, and <a href="https://hourstimetracking.com/" target="_blank">Hours</a>. By using these tools together, you can keep your team updated and ensure that everyone has tasks for the week to actively work on and complete. This is also a great time to experiment with no-contact company interaction such as Fitbit communities, or Apple health socialization. Incentivize your team to stay active, healthy, and connected by creating health challenges for your group to compete on!</p>

        <h2>Client Assurance</h2>
        <p>Your clients need to know that their project is in good hands--even when they can't see you in person. Be sure to update them on the status of their project, and consider using some of the tools we mentioned before to enable easy reporting of daily, weekly, and monthly tasks/goals. Are we still green for next week? Absolutely, and you can see why in our Jira breakdown chart or our trello tasks pipeline. Enabling your team to work effeciently online will ensure that your client's business is still in good hands, and being able to actively show them how you're managing this is a must to continually build trust without face-to-face interaction.</p>

        <h2>Financial Relief</h2>
        <p>Small business loans are being made available constantly thanks to our government--but they go fast! Be sure to apply for this aid as soon as possible if you need help getting your employees paid. Learn more <a href="https://www.sba.gov/funding-programs/loans/coronavirus-relief-options" target="_blank">here</a></p>
    </div>
</div>
