<div class="scg_content_item scg_image_box">
    <img src="{{root}}assets/3D_Waves.png"></img>
    <div class="scg_image_box_exerpt scg_blue">
        <h3>COVID-19 Impact</h3>
        <p>COVID-19 has completely changed the playing field for businesses in 2020. Many people are feeling financial pressures due to the econmic impacts of the event; as business owners it's important to understand how to effectively help your employees and your customers during this time!</p>
        <a href="{{root}}en/covid19.html">Learn More</a>
    </div>
</div>

<div class="scg_content_item scg_newsletter_signup">
    <form class="scg_signup_box" action="/" method="post">
        <input type="text" id="email" name="email" placeholder="Type Email Here">
        <input type="submit" value="SIGN UP">
    </form>

    <h2>Get updates on the newest tech and best practices that your company should be implementing today!</h2>
</div>
