<div class="scg_content_item scg_image_box">
    <img src="{{root}}assets/Blue_Triangles.png"></img>
    <div class="scg_image_box_heading scg_blue">
        <h3>Have You Bought A Pair of Smart Glasses Yet?</h3>
        <p>SKY Consulting Group prides ourselves on our industry research and development. We are heavily focused on the upcoming Virtual and Augmented Reality market, and believe that any modern company should be too.</p>
    </div>
</div>

