<div class="scg_content_item scg_image_box">
    <img src="{{root}}assets/Blue_Triangles.png"></img>
    <div class="scg_image_box_heading">
        <h3>Have You Bought A Pair of Smart Glasses Yet?</h3>
        <p>SKY Consulting Group prides ourselves on our industry research and development. We are heavily focused on the upcoming Virtual and Augmented Reality market, and believe that any modern company should be too.</p>
    </div>
</div>


<div class="scg_content_item scg_newsletter_signup">
    <form class="scg_signup_box" action="/" method="post">
        <input type="text" id="email" name="email" placeholder="Type Email Here">
        <input type="submit" value="SIGN UP">
    </form>

    <h2>Get updates on the newest tech and best practices that your company should be implementing today!</h2>
</div>

<div class="scg_content_item scg_newsletter_signup">
    <form class="scg_signup_box" action="/" method="post">
        <input type="text" id="email" name="email" placeholder="Type Email Here">
        <input type="submit" value="SIGN UP">
    </form>

    <h2>Get updates on the newest tech and best practices that your company should be implementing today!</h2>
</div>

<div class="scg_content_item scg_newsletter_signup">
    <form class="scg_signup_box" action="/" method="post">
        <input type="text" id="email" name="email" placeholder="Type Email Here">
        <input type="submit" value="SIGN UP">
    </form>

    <h2>Get updates on the newest tech and best practices that your company should be implementing today!</h2>
</div>
