<div class="scg_logo">
	<img src="/assets/logo_no_text.png" class="scg_logo"></img>
</div>

<div class="scg_nav">
	<a href="#">Industries</a>
	<a href="#">Services</a>
	<a href="#">Tech We Enjoy</a>
	<a href="#">About</a>
	<a href="#">Careers</a>
</div>

<div class="scg_hamburger">
	<div class="scg_hamburger_container" onclick="hamburgerChange(this)">
		<div class="scg_hamburger_line1"></div>
		<div class="scg_hamburger_line2"></div>
		<div class="scg_hamburger_line3"></div>
	</div>
</div>