<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="icon" href="{{root}}assets/favicon-32.png">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap">
<link rel="stylesheet" href="{{root}}css/normalize.css">
<link rel="stylesheet" href="{{root}}css/styles.css">

<script type="text/javascript" src="{{root}}js/scg_min.js" async></script>

<title>SKY Consulting Group | Modern Teams | Modern Solutions</title>
