<link rel="icon" href="/assets/favicon-32.png">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap">
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/styles.css">

<script type="text/javascript" src="/js/scg_min.js" async></script>

<title>SKY Consulting Group | We Support Meaningful Solutions</title>