<div class="scg_content_item scg_image_box">
    <img src="{{root}}assets/Orange_Squares.png"></img>
    <div class="scg_image_box_heading scg_blue">
        <h3>Looking To Build Something Amazing?</h3>
        <p>Our company was built from the ground up with two focused verticals--Software Development and Sales. We have dedicated resources ready to build a modern application, product, or service for your business as well as the resources to create and implement an effective marketing funnel for your brand.</p>
    </div>
</div>
