<div class="scg_content_item scg_image_box">
    <img src="{{root}}assets/Orange_Squares.png"></img>
    <div class="scg_image_box_heading scg_blue">
        <h3>Looking To Build Something Amazing?</h3>
        <p>Our company was built from the ground up with two focused verticals--Software Development and Marketing. We can rapidly develop and implement a modern application, product, or service experience for your business and customers. Let's get started!</p>
    </div>
</div>

<div class="scg_content_item scg_newsletter_signup">
    <form class="scg_signup_box" action="/" method="post">
        <input type="text" id="email" name="email" placeholder="Type Email Here">
        <input type="submit" value="SIGN UP">
    </form>

    <h3>Get updates on the most relevent challenges for your business and how to solve them!</h3>
</div>

<div class="scg_content_item scg_newsletter_signup">
    <form class="scg_signup_box" action="/" method="post">
        <input type="text" id="email" name="email" placeholder="Type Email Here">
        <input type="submit" value="SIGN UP">
    </form>

    <h3>Get updates on the most relevent challenges for your business and how to solve them!</h3>
</div>
