<div class="scg_content_item scg_image_box">
    <img src="{{root}}assets/Blue_Paint_3063.png"></img>
    <div class="scg_image_box_exerpt scg_blue">
        <h3>Passion</h3>
        <p>Our founders believed that life without passion was no life at all. Here is some of the tech that we are passionate about--if you are passionate about some piece of technology or business, be sure to share it with us on our socials!</p>
    </div>
</div>
