@mixin base-font {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: $scg_grey;
}

a, p, h1, h2, h3, h4, h5, h6 {
}

a {
    @include base-font
    text-decoration: none;
    font-weight: 300;
    font-size: 1.8vw;
    margin: 0px;
    padding: 0px;
}

h1 {
    @include base-font
    font-weight: 600;
    font-size: 2.8vw;
}

h2 {
    @include base-font
    font-weight: 500;
    font-size: 2.1vw;
}

h3 {
    @include base-font
    font-weight: 400;
    font-size: 2.0vw;
}

h4 {
    @include base-font
    font-weight: 300;
}

h5 {
    @include base-font
    font-weight: 200;
}

p {
    @include base-font
    font-weight: 200;
    font-size: 1.7vw;
    padding: 1.0em;
    margin: 0px;
}
