@import 'colors';
@import 'fonts';
@import 'layout';

.scg_container {

    .scg_header {

        .scg_logo { 
            img {
                height: 80px;
                width: 80px;
            }
        }

        .scg_nav {
            display: none;
            overflow: hidden;

            a {
                float: left;
                display: block;
                padding: 0.5em 2em;
                color: $scg_grey;

                transition: 0.4s;

                &:hover {
                    transform: translate(0px, -8px);
                    color: $scg_blue;
                }
            }
        }

        .scg_hamburger_container {
            display: inline-block;
            cursor: pointer;

            .scg_hamburger_line1, .scg_hamburger_line2, .scg_hamburger_line3 {
                height: 2px;
                width: 32px;
                background: $scg_grey;
                margin: 0.4em 0;
                transition: 0.1s;
            }

            &.change {
                .scg_hamburger_line1 {
                    transform: rotate(-45deg) translate(-4px, 3px);
                    background: $scg_orange;
                }

                .scg_hamburger_line2 {
                    opacity: 0;
                }

                .scg_hamburger_line3 {
                    transform: rotate(45deg) translate(-8px, -8px);
                    background: $scg_orange;
                }
            }
        }
    }

    .scg_content_container {
        background: $scg_white;
        font-size: 2.4vw;

        .scg_content_item {
            margin-bottom: 5.0em;
        }

        .scg_image_box {
            img {
                height: auto;
                width: 100%;
            }

            h1, h2, h3, h4, h5, h6 {
                margin: 0px;
                padding: 1em;
                background: #383838;
                color: #ffffff;
            }

            a {
                padding: 1em;
            }

            p {
                padding: 0px 1.0em; 
            }

            .scg_image_box_exerpt {
                height: 80%;
                margin-top: 15%;
                background: $scg_white;

                &.scg_orange {
                    a {
                        color: $scg_orange;
                    }
                }

                &.scg_blue {
                    a {
                        color: $scg_blue;
                    }
                }
            }

            .scg_image_box_heading {
                background: $scg_white;
                height: 60%;
                margin-top: 20%;
            }
        }

        .scg_newsletter_signup {
            background: $scg_blue;

            .scg_signup_box {
                margin: 0px;
                font-size: 2.4vw;
                padding: 2em 0 2em 0;

                input[type=text] {
                    @include base-font
                    font-weight: 300;

                    border: none;
                    padding: 0.5em;
                }

                input[type=submit] {
                    @include base-font
                    font-weight: 400;

                    border: none;
                    color: $scg_white;
                    background: $scg_orange;
                    cursor: pointer;
                    padding: 0.5em;
                }
            }

            h3 {
                color: $scg_white;
            }
        }
    }

    .scg_footer {

        .scg_quick_info {
            display: none;

            span.scg_quick_info_item_bold  {
                @include base-font
                font-weight: 300;
                font-size: 2.0vw;
                color: $scg_dark_grey;
            }

            span.scg_quick_info_item {
                @include base-font
                font-weight: 200;
                font-size: 2.0vw;
                color: $scg_grey;
            }
        }

        .scg_legal {
            text-align: center;

            span.scg_copyright {
                @include base-font
                font-weight: 400;
                font-size: 2.4vw;
                color: $scg_grey;
            }

            span.scg_legal_links {
                @include base-font
                font-weight: 300;
                font-size: 2.2vw;
                
                color: $scg_light_grey;

                a {
                    color: $scg_light_grey;
                }
            }
        }

        .scg_social {
            display: none;
            text-align: center;

            svg {
                height: 4.0vw;
                width: 4.0vw;

                fill: $scg_dark_grey;
            }

            .social_icon {
                svg {
                    transition: 0.4s;

                    &:hover {
                        transform: rotate(-45deg);
                        fill: $scg_blue;
                    }
                }
            }
        }
    }
}

@import 'responsive';
